@import "../../styles/global.scss";
@import "../../styles/animations.scss";

.surveyResultWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: $background;

  .contentWrap{
      display: flex;
      flex-direction: column;
      align-self: center;
      max-width: 800px;
      width: 100%;
      flex-grow: 1;
      padding: 40px;

      &:empty {
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-image: 
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground);
        background-position:
          40px 40px,
          136px 50px,
          136px 80px,
          136px 110px,
          40px 172px,
          40px 270px,
          40px 372px;
        background-size: 
          80px 100px,
          calc(70% - 176px) 20px,
          calc(100% - 176px) 20px,
          calc(80% - 176px) 20px,
          calc(100% - 80px) 82px,
          calc(100% - 80px) 84px,
          calc(100% - 80px) 82px;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(to right, transparent, rgba($write, 0.3) , transparent);
            animation: shimer 1.2s infinite;
          }
        }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResultWrap {
    .contentWrap{
      &:empty {
        background-position:
          40px 40px,
          116px 50px,
          116px 80px,
          116px 110px,
          40px 172px,
          40px 270px,
          40px 372px;
        background-size: 
          60px 100px,
          calc(80% - 176px) 20px,
          calc(100% - 176px) 20px,
          calc(85% - 176px) 20px,
          calc(100% - 80px) 82px,
          calc(100% - 80px) 84px,
          calc(100% - 80px) 82px;
        }
    }
  }
}