@import "../../styles/global.scss";

.loadingWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($write, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: wait;

  .loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba($black, 0.9);
      width: 300px;
      height: 150px;
      border-radius: 8px;
      
      span{
        font-size: 16px;
        margin-bottom: 8px;
        color: $write;
        text-transform: lowercase;
    }
  }
}